@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-main: #051923;
$color-links: #003554;
$color-border: #006494;
$color-tags: #0466c8;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  color: $color-main;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-main, 20%);
  }
}

a {
  color: $color-links;
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
  @media (max-width: 850px) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  @media (max-width: 850px) {
    align-self: center;
    order: 2;
  }
}

.articles {
  @media (max-width: 850px) {
    order: 1;
    text-align: center;
  }
}

.articles li {
  @media (max-width: 850px) {
    display: inline-block;
    margin-right: 5px;
  }
}

.articles a {
  text-decoration: none;
}

.tags-authors {
  @media (max-width: 850px) {
    order: 3;
    text-align: center;
  }
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-border;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: $color-main;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list a {
  text-decoration: none;
}

.list-horizontal {
  li {
    display: inline-block;
    margin-right: 5px;
  }
}

/* Tags */

.tags li {
  margin-right: 5px;
  @media (max-width: 850px) {
    display: inline-block;
    margin-right: 10px;
  }
}

.tags {
  display: inline-block;
}

.tag-size-1 {
  font-size: 75%;
  color: $color-tags;
}

.tag-size-2 {
  font-size: 90%;
  color: $color-tags;
}

.tag-size-3 {
  font-size: 100%;
  color: $color-tags;
}

.tag-size-4 {
  font-size: 115%;
  color: $color-tags;
}

.tag-size-5 {
  font-size: 150%;
  color: $color-tags;
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
    @media (max-width: 850px) {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

/* Post */

.post {
  // display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  &.active {
    // display: block;
    opacity: 1;
    position: relative;
    height: auto;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
